[submodule "src/zk-backyp"]
	path = src/zk-backyp
	url = git@github.wdf.sap.corp:idefix/zk-backyp.git
[submodule "packages/java"]
	path = packages/java
	url = https://github.wdf.sap.corp/idefix/bosh-package-java.git
